
extends layout

block content
  #index
    div(data-role="page")
      div(data-role="header")
        h1 LifePong
      div(data-role="content")
        p#status Unknown
        #container
          Hello from LifePong


